<h1>Users</h1>
<ul>
  <% @users.each do |user|  %>
    <li>Username: <%= user.username  %> <%= link_to "Profile", user  %></li>
    <ul> Games owned by user:
      <% user.games.each do |game|  %>
      <li><%= game.name  %> <%= link_to "Show", game  %> </li>
      <% end %>
    </ul>
  <% end %>
</ul>