<h1>Users</h1>
<ul>
  <% @users.each do |user|  %>
    <li>Username: <%= user.username  %>
      <% if is_friend?(user) %>
        <%= link_to "Profile", user  %>
      </li>
    <% end %>
  <% end %>
</ul>
