<h1>Welcome to Gaming the System</h1>
<h2>Browse games and user lists via the above links!</h2>
<p>Sign up or log in to rate or review games and find your friends!</p>

<p>May the odds be ever in your favor.</p>